html,
body {
    margin: 0;
    padding: 0;
    height: 100%; /* needed for container min-height */
}
#root {
    /* height: 100vh;
    width: 100%; */
    position: relative; /* needed for footer positioning*/
    height: auto !important; /* real browsers */
    min-height: 100%; /* real browsers */
}
.fullscreen {
    height: 100vh;
}
.meeting_container {
    height: auto !important;
    min-height: 100%;
    display: flex;
    cursor: default;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: visible;
    align-items: stretch;
    justify-content: space-between;
    inset: 0px;
    background-color: rgb(43, 44, 51);
}
/*//////////////////////////////////////////////////////////////////
[ Footer Meeting ]*/
.meeting_footer_container {
    position: relative;
    display: flex;
    height: 70px;
    background-color: rgb(31, 31, 31);
    justify-content: center;
    opacity: 1;
}

/*==================================================================
[ Footer Left Panel ]*/
.meeting_footer_left_content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-left: 20px;

    top: 0px;
    left: 0px;
    bottom: 0px;
}
.meeting_footer_left_button {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: transparent;
    border-color: transparent;
    min-width: 80px;
    cursor: pointer;
}
.meeting_footer_left_button i {
    text-align: center;
    padding: 10px;
    color: #fff;
}
.meeting_footer_left_button span {
    font-size: 12px;
    color: rgb(255, 255, 255);
    margin-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

/*==================================================================
[ Footer Middle Panel ]*/
.meeting_footer_middle_content {
    width: 160px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
    height: 70px;
    -webkit-app-region: drag;
    background-color: rgba(0, 0, 0, 0);
}
.meeting_footer_unmute {
    background-color: rgb(43, 44, 51);
    border-color: transparent;
    border-width: 0px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    border-style: solid;
}
.meeting_footer_unmute i {
    height: 20px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    cursor: inherit;
}
.meeting_footer_unmute span {
    font-size: 12px;
    color: rgb(255, 255, 255);
    margin-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
}
/*------------------------------------------------------------------
[ Footer Right Panel ]*/
.meeting_footer_right_content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-right: 20px;

    top: 0px;
    right: 0px;
    bottom: 0px;
}
.meeting_footer_right_button {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: transparent;
    border-color: transparent;
    min-width: 60px;
    cursor: pointer;
}
.meeting_footer_right_button i {
    text-align: center;
    padding: 10px;
    color: #fff;
}
.meeting_footer_right_button span {
    font-size: 12px;
    color: rgb(255, 255, 255);
    margin-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

/*------------------------------------------------------------------
[ Top Left Panel ]*/
.meeting_top_container {
    display: flex;
    overflow: visible;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    opacity: 1;
}
.meeting_top_left_content {
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 16px;
    -webkit-app-region: drag;
    background-color: rgba(0, 0, 0, 0);
}
.meeting_top_container i {
    padding: 0px;
    cursor: pointer;
    border-style: solid;
    outline: none;
    font-size: 24px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
}
.meeting_top_container span {
    position: relative;
    display: inline;
    flex-grow: 0;
    flex-shrink: 1;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    font-size: 27px;
    font-family: "SF Bold", "Segoe System UI Bold", "Segoe UI Bold", sans-serif;
    font-weight: 400;
    border: none;
    background: transparent;
    margin-left: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.meeting_top_right_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
    height: 80px;
    -webkit-app-region: drag;
    background-color: rgba(0, 0, 0, 0);
}
.meeting_top_right_call {
    background-color: rgba(0, 0, 0, 0);
    border-color: transparent;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    outline: none;
}
.meeting_top_right_addpeople {
    position: absolute;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: visible;
    align-items: center;
    justify-content: center;
    background-color: rgba(138, 141, 145, 0.8);
    border-color: transparent;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    top: 10px;
    right: 92px;
    outline: none;
}
.meeting_top_right_me {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-color: #5995b9;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    outline: none;
}
.meeting_top_right_me p {
    white-space: pre;
    text-overflow: ellipsis;
    font-size: 15px;
    font-family: "SF Bold", "Segoe System UI Bold", "Segoe UI Bold", sans-serif;
    font-weight: bold;
    margin: 0;
    color: rgb(0 8 255);
    width: 20px;
    overflow: hidden;
}
.meeting_top_right_me i {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    color: #000;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    opacity: 1;
}
.meeting_top_right_fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 163px;
    height: 47px;
    position: fixed;
    z-index: 100001;
    /* top: 55px;
    left: calc(100% - 290px); */
    border: 10px;
}
.meeting_top_right_fullscreen svg {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 163px;
    height: 47px;
    display: flex;
    flex: 0 0 auto;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 6px 16px);
}
.meeting_top_right_fullscreen button {
    position: relative;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0);
    padding: 0px;
    cursor: pointer;
    outline: none;
}
.meeting_top_right_contextmenu {
    display: flex;
    position: fixed;
    z-index: 100001;
    /* top: 55px;
    left: calc(100% - 250px); */
}
.meeting_top_right_contextmenu_content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: visible;
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0);
}
.meeting_top_right_contextmenu svg {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 216px;
    height: 118px;
    display: flex;
    flex: 0 0 auto;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 6px 16px);
}
.meeting_top_right_contextmenu_content_dialog {
    /* position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
    overflow: visible;
    align-items: stretch; */
    padding: 6px 3.5px 1px;
}
.meeting_top_right_contextmenu_content_dialog span {
    margin: 0;
}
/* .meeting_top_right_contextmenu_camera {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    align-items: stretch;
} */
.meeting_top_right_contextmenu_camera_menu {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    align-items: stretch;
    padding-top: 5px;
    padding-bottom: 5px;
}
.meeting_top_right_contextmenu_camera_menu .video_on {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0);
    text-align: left;
    border-width: 0px 0px 0px 2px;
    min-height: 30px;
    border-style: solid;
    padding: 0px;
    cursor: pointer;
    outline: none;
}
.meeting_top_right_contextmenu_camera_menu .video_on:hover {
    background-color: rgba(241, 241, 244, 0.5);
}
.meeting_top_right_contextmenu_camera_menu .video_on span {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 15px;
    font-family: "SF Regular", "Segoe System UI Regular", "Segoe UI Regular", sans-serif;
    font-weight: 400;
    color: rgb(37, 36, 35);
    padding-left: 13px;
    padding-right: 35px;
}
.meeting_top_right_contextmenu_camera_menu .video_off {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0);
    text-align: left;
    border-width: 0px 0px 0px 2px;
    min-height: 30px;
    border-style: solid;
    padding: 0px;
    outline: none;
    cursor: pointer;
}
.meeting_top_right_contextmenu_camera_menu .video_off:hover {
    background-color: rgba(241, 241, 244, 0.5);
}
.meeting_top_right_contextmenu_camera_menu .video_off span {
    position: relative;
    display: inline;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 15px;
    font-family: "SF Regular", "Segoe System UI Regular", "Segoe UI Regular", sans-serif;
    font-weight: 400;
    color: rgb(37, 36, 35);
    padding-left: 13px;
    padding-right: 35px;
    cursor: inherit;
}
.meeting_top_right_contextmenu_camera_menu .video_off i {
    position: relative;
    display: inline;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    height: 20px;
    font-size: 20px;
    color: rgb(0, 120, 212);
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    margin-right: 15px;
    cursor: inherit;
}
.meeting_top_right_contextmenu_mic {
    /* position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    align-items: stretch; */
    padding-top: 5px;
    padding-bottom: 5px;
}
.meeting_top_right_contextmenu_mic button {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0);
    text-align: left;
    border-width: 0px 0px 0px 2px;
    min-height: 30px;
    border-style: solid;
    padding: 0px;
    cursor: pointer;
    outline: none;
}
.meeting_top_right_contextmenu_mic button:hover {
    background-color: rgba(241, 241, 244, 0.5);
}
.meeting_top_right_contextmenu_mic span {
    position: relative;
    display: inline;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 15px;
    font-family: "SF Regular", "Segoe System UI Regular", "Segoe UI Regular", sans-serif;
    font-weight: 400;
    color: rgb(37, 36, 35);
    padding-left: 13px;
    padding-right: 35px;
    cursor: inherit;
}
